.vscode
data
data-backup
images
images-backup
node_modules/
api/tmp-uploads
recognition/venv
.DS_Store
deploy-tokens.txt
*.tar.gz
*.pem
.env
.python-version
*timesheet.xlsx
invoices/
cloud-host-deploy-config
ecs-registry-creds*.yml